<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Search Auto</title>
</head>
<body>
<form action="#" th:action="@{/post}" th:object="${searchRequest}" method="post">
    <p>Now only PKW available!</p>
    <p>Body Type:
        <select>
            <th:block th:each="bodyStyle : ${bodyStyles}">
                <option th:value="${bodyStyle.getValue()}" th:utext="${bodyStyle.getName()}"></option>
            </th:block>
        </select>
    </p>
    <p>Mark:
        <select id="selectModel">
            <th:block th:each="mark : ${marks}">
                <option th:value="${mark.getValue()}" th:utext="${mark.getName()}"></option>
            </th:block>
        </select>
    </p>
    <p style="display: inline">Model: <div id="container"></div></p>
    <p>Gearbox:
        <select>
            <th:block th:each="gearBox : ${gearBoxes}">
                <option th:value="${gearBox.getValue()}" th:utext="${gearBox.getName()}"></option>
            </th:block>
        </select>
    </p>
    <p>Type of fuel:
        <select>
            <th:block th:each="fuelType : ${fuelTypes}">
                <option th:value="${fuelType.getValue()}" th:utext="${fuelType.getName()}"></option>
            </th:block>
        </select>
    </p>

</form>
<script>
    $('#selectModel').change(function(){
        let json;
        let id = document.getElementById("selectModel").value;
        $.ajax({
            url: "/models?markID=" + id,
            type: "GET",
            async: false,
            success: (data) => {
                json = data;
            }
        });
        var select = $("<select></select>").attr("id", "cities").attr("name", "cities");
        $.each(json,function(index,json){
            select.append($("<option></option>").attr("value", json.value).text(json.name));
        });
        $("#container").html(select);
    });

</script>
</body>
</html>